/*Start header*/
header{
  width: 100%;
}

.top-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  top: -100vh;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-liste{
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

li{
  margin: 0 2rem;
}

.nav-link{
  font-family: 'Cookie', cursive;
  font-size: 7rem;
  padding: 3rem;
}

a{
  color: #fff;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus{
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open{
  top: 0;
  border-radius: initial;
}

.top-nav.close{
  top: -100vh;
  border-radius: initial;
}

.menu-toggler{
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open{
  transform: rotate(-45deg);
}

.bar{
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.bar.half{
  width: 50%;
}

.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
  transform: rotate(-90deg) translateX(.8rem);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
  transform: rotate(-90deg) translateX(-.8rem);
}

.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1{
  font-size: 20rem;
  font-family: 'Odibee Sans', cursive;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6{
  font-family: "Press Start 2P", "Arial Black", cursive;
  font-size: 3rem;
  font-weight: 400;
}
/*End header*/

/*start global*/
body {
  width: 90%;
  height: 100%;
  background-color: #16162d;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  font-family: 'Odibee Sans', cursive;
}
/* end global*/

/*start pres*/

.presentation{
  width: 90%;
}
.presentation h2{
  color: #fff;
}

.presentation p{
 color: #fff;
}

/*end pres*/

/*start post*/
.txt{
  float:left;
  width: 30%;
  color: white;
}

.img{
  float: right;
  width: 30%;
}

.img img{
  width: 15rem;
}

.line{
  color: white;
  bottom: 10%;
  padding-top: 15rem;

}


.nextpost{
  text-align: center;
  margin-bottom: 10rem;
}

.nextpost h2{
  font-size: 3.5rem;
  color: rgba(255,255,255,0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.nextpost h2::before,
.nextpost h2::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.75);
}

.nextpost h2::before{
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.nextpost h2::after{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

/*end post*/


/*Start footer*/
.copyright{
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}


.up{
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i{
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p{
  font-size: 1.4rem;
  color: aquamarine;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
  0%{
      box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70%{
      box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100%{
      box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}
/*End animations*/
